.container {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 500px;
    border-collapse: collapse;
    border: 1px solid black;
}
.tableHead {
    color: white;
    background-color: rgb(36, 36, 36);
    border: 1px solid black;
}
.tableHeadItem {
    border: 1px solid black;
}